# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
.spyderproject
.macromates
*.swp
*.swo

# Docker
.dockerignore
docker-compose.override.yml

# Application Data
data/
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/
